body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,img,li,ol,p,ul {
  margin: 0;
  padding: 0;
}
img{
    border: 0;
}
ul,ol{
    list-style: none;
}
input{
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
a{
    text-decoration: none;
}
body{
    font: normal normal 12px '宋体';
    color: #4c4c4c;
    background-color: #fae8c8;
}
.fl{float: left;}.fr{float: right;}.clearfix::after{content: '';height: 0;line-height: 0;display: block;visibility: hidden;clear: both;/* 清除浮动 */}.clearfix{zoom: 1;}
